@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Jura:wght@500&family=Titillium+Web&display=swap');

:root{
    --light-color : #fff;
    --dark-color : #000;
    --primary-color : #039fd9;
    --secondary-color : #d90303;
    --tertiary-color : #922323;
    --quaternary-color : #f2f2f2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

html, body {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.Notice{
    width: 100%;
    height: 100svh;
    background: url(/assets/img/background/background.png) no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--light-color);
    font-size: 3vw;
    text-align: center;
    text-shadow: 0 0 10px var(--dark-color);
    padding: 10vw;
}

.graymaker{
    -webkit-filter: brightness(1) grayscale(1);
    -ms-filter: brightness(1) grayscale(1);
    filter: brightness(1) grayscale(1);
}

.intro{
    /* Has Tab resposive design */
    background: url("/assets/img/background/background.png") no-repeat, #922323;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 200svw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_strelizia{
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
    overflow: hidden;
    top: 0;
}

.intro_text{
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    position: absolute;
    top: 10svh;
    z-index: 13;
}

.introline{
    width: 5.5vw;
    height: .1rem;
    background-color: var(--light-color);
    border: none;
    border-radius: 10px;
    margin-bottom: 6rem;
}

.intro_code span{
    font-size: 1.75vw;
    font-weight: 400;
    color: var(--light-color);
    text-align: center;
    display: block;
}

.intro_code{
    font-size: 6.5vw;
    font-weight: 400;
    color: var(--light-color);
    text-align: center;
}

.hiro_zero_two{
    background-size: contain;
    width: 88%;
    top: 50vh;
    position: inherit;
    z-index: 01;
    transform: translateY(50%);
}

.title_reveal{
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url(/assets/img/items/DARLING_in_the_FRANXX-title-en.png) no-repeat center, var(--dark-color);
    background: -moz-linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url(/assets/img/items/DARLING_in_the_FRANXX-title-en.png) no-repeat center, var(--dark-color);
    background: -o-linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url(/assets/img/items/DARLING_in_the_FRANXX-title-en.png) no-repeat center, var(--dark-color);
    background: linear-gradient(rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url(/assets/img/items/DARLING_in_the_FRANXX-title-en.png) no-repeat center, var(--dark-color);
    -webkit-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding: 50vh 1vw; */
}

.anime_name{
    color: var(--light-color);
    font-size: 6vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.anime_name .blue_x{
    color: #039fd9;
}

.anime_name .red_x{
    color: #d90303;

}

.first_scene_bg{
    overflow-x: hidden;
    width: 100%;
    height: 400svh;
    background: url(/assets/img/background/background.png) no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
}

.first_scene{
    width: 100%;
    height: 100svh;
    position: relative;
    padding: 5rem;
}

.first_scene_sidenote_01{
    font-size: 1.2vw;
    color: var(--light-color);
    text-transform: uppercase;
    background-size: contain;
    letter-spacing: 0.2vw;
}

.first_scene_sidenote_01_position_1{
    position: absolute;
    top: 10vh;
    left: 10vw;
}

.first_scene_sidenote_01_position_2{
    position: absolute;
    top: 12vh;
    left: 10vw;
}

.first_scene_first_char_face{
    position: absolute;
    width: 90%;
    height: 90svh;
    background: url(/assets/img/items/hiro_face.png) no-repeat top;
    -webkit-background-size: contain;
    background-size: contain;
    transform: translateY(3rem);
    animation: walking infinite 2s ease-in-out;
}

.first_scene_second_char_face{
    position: absolute;
    width: 90%;
    height: 90svh;
    background: url(/assets/img/items/zero_two_face.png) no-repeat top;
    -webkit-background-size: contain;
    background-size: contain;
    transform: translateY(3rem);
    animation: walking infinite 2s ease-in-out;
}

@keyframes walking {
    0% {
        transform: translateX(0) translateY(0);
    }
    8.37% {
        transform: translateX(1rem) translateY(-1rem)
    }
    16.67% {
        transform: translateX(2rem) translateY(-1rem)
    }
    33.34% {
        transform: translateX(2rem) translateY(1rem)
    }
    43.34% {
        transform: translateX(1rem) translateY(1rem)
    }
    50% {
        transform: translateX(0) translateY(0)
    }
    60.68% {
        transform: translateX(-1rem) translateY(1rem)
    }
    66.68% {
        transform: translateX(-2rem) translateY(1rem)
    }
    83.35% {
        transform: translateX(-2rem) translateY(-1rem)
    }
    93.35% {
        transform: translateX(-1rem) translateY(-1rem)
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

.first_scene_code{
    position: absolute;
    font-size: 40vw;
    color: var(--light-color);
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--dark-color);
    background-size: contain;
    letter-spacing: 0.2vw;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.first_scene_franxx{
    position: absolute;
    font-size: 3vw;
    font-family: "titenium web", sans-serif;
    text-shadow: 0 0 10px var(--dark-color);
    color: var(--light-color);
    bottom: 15vh;
    right: 10vw;
    transform: translate(-50%, -50%);
}

.first_scene_name{
    position: absolute;
    top: 60vh;
    right: 1vw;
    transform: rotate(90deg) translate(-150%, 0%);
    color: var(--light-color);
    font-size: 3vw;
    text-transform: uppercase;
    font-family: "titillium web", sans-serif;
}

/* Media type: Phones */
@media screen and (max-width: 576px){
    .first_scene, .first_scene_first_char_face, .first_scene_second_char_face{
        height: 100svw;
    }
    .first_scene_code{
        top: 40vw;
    }
}

/* Media type: tabs */
@media screen and (min-width: 768px){
    .intro{
        height: 200svh;
    }
    
}